<section class="artists-section">

<h1>Artists</h1>
<ul>
  {{#each artist}}
  <li class="artist">
    <img src="{{this.images.0.url}}" alt="{{this.name}}">
    <p>{{this.name}}</p>
    <div><a href="/albums/{{this.id}}">View Albums</a></div>
  </li>
  {{/each}}
</ul>
</section>